body{
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
}

.registration-form{
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    height: auto;
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.inp-form-reg{
    margin-top: 15px;
}
/*.btn-form-reg{*/
/*    margin-top: 15px;*/
/*}*/

.btn-form-reg {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #744485;
    transition: 0.3s;


}
.btn-form-reg:hover{
    background: #37203f;
}

/*
.reg-form-header{
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.reg-form-header-title{

    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}*/
